
html {
    font-family: NetflixSans_W_Blk, 'NetflixSans_W_Blk', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    height: 100vh;
    width: 100%;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* ----------------------------- NAV BAR -------------------------------*/
nav {
    z-index: 9;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 20px 20px 20px 200px;
    border-color: wheat;
}

.nav-bar a {
    margin-left: 10px;
    font-weight: 300;
    color: #d8dcda;
    text-decoration: none
}

nav a:hover {
    color: #949494;
    transition: 0.5s;
}

nav img {
    width: 10%;
}

/* ----------------------------------- END NAV BAR ------------------------------------------*/
/* ----------------------------------- BEST MOVIES SECTION ----------------------------------*/
#the_best_rating {
    display: block;
    height: 45%;
    width: 80%;
    margin: auto;
    min-height: 450px;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-color: transparent;
}

#the_best_ranting_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-size: 25% 90%;
    background-repeat: no-repeat;

}

.best_movie_infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;
}

#the_best_rating_description_container {
    margin-left: 20px;
    height: 500px;
    width: 400px;
}

#the_best_rating_description h1 {
    font-size: 25px;
    font-weight: bold;
}

#btn-best-movie {
    margin-left: 0;
}

#the_best_rating_title h1 {
    font-size: 25px;
    font-weight: bold;
}


.best_rating_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    align-items: center;
    justify-content: center;
    min-height: 800px;
    min-width: 400px;
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.best_rating_modal_content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    opacity: 0.8;
    margin: 2% 2% 2% 2%;
    padding: 20px;
    border: 1px solid #d7d7d7;
    border-radius: 8px 8px 8px 8px;
    width: 80%;
    height: 40%;
}

.best_rating_close {
    float: right;
    color: #d7d7d7;
    font-size: 28px;
    font-weight: bold;
}

.best_rating_close:hover,
.best_rating_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#best_rating_img img {
    max-height: 100%;
    height: auto;
}

#best_rating_infos_1 {
    max-width: 40%;
    margin-left: 2%;
}


/* ----------------------------------- END BEST MOVIES SECTION ----------------------------------*/
/* ------------------------------------- ALL CAROUSSEL SECTION ----------------------------------*/
#all_cat {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.best_rating_carousel-container, .action_carousel-container, .sci_fi_carousel-container, .crime_carousel-container {
    width: 59%;
    margin: 50px auto;

    min-height: 200px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .carousel-inner {
        width: 30%;
    }
}

.best_rating_carousel-container .carousel-inner, .action_carousel-container .carousel-inner,
.sci_fi_carousel-container .carousel-inner, .crime_carousel-container .carousel-inner {
    overflow: hidden;
}

.best_rating_carousel-container .track_best_rating, .action_carousel-container .track_action,
.sci_fi_carousel-container .track_sci_fi, .crime_carousel-container .track_crime {
    display: inline-flex;
    transition: transform 0.3s;
}

.best_rating_carousel-container .card-container, .action_carousel-container .card-container,
.sci_fi_carousel-container .card-container, .crime_carousel-container .card-container {
    flex-shrink: 0;
    width: 192px;
    height: 268px;

    padding-right: 15px;
    box-sizing: border-box;
}

.best_rating_carousel-container .card-container .card, .action_carousel-container .card-container .card,
.sci_fi_carousel-container .card-container .card, .crime_carousel-container .card-container .card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #949494;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card > * {
    flex: 1;
}

.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.card .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40px;
    background: #333;
    color: #fff;
    flex-grow: 0;
    padding: 10px;
    box-sizing: border-box;
}

.fa-arrow-left {
    color: rgba(255, 255, 255, 0.86);
}

.fa-arrow-right {
    color: rgba(255, 255, 255, 0.86);
}

.nav-btn button {
    width: 70px;
    height: 70px;
    top: 50%;
    background: transparent;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav-btn .best_rating_prev, .action_prev, .sci_fi_prev, .crime_prev {
    border: 0;
    border-radius: 50px;
    left: -40px;
    background: rgba(0, 0, 0, 0.78);
    display: none;
}

.nav-btn .best_rating_prev.show, .action_prev.show, .sci_fi_prev.show, .crime_prev.show {
    display: block;
}


.nav-btn .best_rating_next, .action_next, .sci_fi_next, .crime_next {
    border: 0;
    border-radius: 50px;
    right: -40px;
    background: rgba(0, 0, 0, 0.78);
}

.nav-btn .best_rating_next.hide, .action_next.hide, .sci_fi_next.hide, .crime_next.hide {
    display: none;
}

.cat_title {
    margin-left: 20%;
}

/* ----------------------------------- END CAROUSSEL SECTION ----------------------------------*/
/* --------------------------------------- GENERIC MODAL --------------------------------------*/

.generic_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    align-items: center;
    justify-content: center;
    min-height: 800px;
    min-width: 400px;
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.generic_modal_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #333333;
    opacity: 0.8;
    margin: 2% 2% 2% 2%;
    padding: 20px;
    border: 1px solid #d7d7d7;
    border-radius: 8px 8px 8px 8px;
    width: 80%;
    height: 40%;
}


.generic_modal_close {
    margin-left: 50px;
    color: #d7d7d7;
    font-size: 28px;
    font-weight: bold;
}

.generic_modal_close:hover,
.generic_modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#generic_modal_img img {
    max-height: 100%;
    height: auto;
}

#generic_modal_infos_1 {
    max-width: 40%;
    margin-left: 2%;
}

/* ------------------------------------------ ALL BTN -----------------------------------------*/

#btn-infos, #btn-play {
    flex-wrap: nowrap;
    height: 3%;
    width: 11%;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 0px;
    margin: 370px 5px 10px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#btn-play:hover {
    background-color: #949494;
}

#btn-infos:hover {
    background-color: #949494;
}




